@charset "utf-8";

$color-text: #A6ADB4;

body{
    color: $color-text;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: (24 / 14);
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li{
    list-style: none;
}